/* CSS SAYA */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Merriweather", sans-serif;
}

html,
body {
  background-color: rgb(210, 208, 208);
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Menghilangkan scroll vertikal */
}

/* Custom scrollbar */
body {
  scrollbar-width: thin;
  scrollbar-color: #888888 #f0f0f0; /* Track color, thumb color */
}

body::-webkit-scrollbar {
  width: 12px; /* Width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #f0f0f0; /* Color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #888888; /* Color of the scroll thumb */
  border-radius: 6px; /* Roundness of the scroll thumb */
  border: 3px solid #f0f0f0; /* Creates padding around scroll thumb */
}

/* Container */
.container {
  max-width: 100%;
  min-height: 100vh;
  padding-left: 0;
  margin-left: 0;
  display: flex;
  align-items: stretch;
  transition: all 0.5s ease;
  border-radius: 50px;
  z-index: 100;
}

.sidebar {
  width: 70px;
  height: 902px;
  display: flex;
  flex-direction: column;
  background-color: #0d28a6;
  padding: 24px;
}
.user img {
  width: 30px;
  height: 34px;
}

.menu ul li a {
  display: list-item;
  margin-bottom: auto;
  padding-bottom: 20px;
  transition: 0.5s ease;
  font-weight: 500;
  text-decoration: none;
}

.menu ul ul {
  position: absolute;
  left: 70px;
  width: 200px;
  top: 50px;
  background: white;
  border-radius: 2px;
  box-shadow: 2px 2px 10 px;
  height: 902px;
  display: initial;
  cursor: pointer;
}

.item {
  margin-left: 40px;
  margin-top: 25px;
}
.menu ul li a:hover {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  cursor: pointer;
}

.menu ul .list:hover ul {
  display: initial;
  cursor: pointer;
}

.menu ul li:hover a,
.menu ul li:active a {
  color: black;
  background-color: rgb(170, 170, 228);
}

ul {
  padding-left: 0;
  padding-top: 15px;
  list-style: none;
}

.text {
  text-align: left;
  align-items: left;
  font-size: small;
  color: aliceblue;
  display: list-item;
  text-decoration: none;
}

/* [END] container */

/* Main */
.main {
  display: flex;
  flex-direction: column;
  min-width: 0;
  min-height: 100vh;
  overflow: hidden;
  transition: all 0.45s ease-in-out;
  width: 100%;
  flex-grow: 1;
  background-color: rgb(210, 209, 207);
}

.navbar img {
  width: 100px;
  height: 34px;
}

.navbar .d-flex {
  margin-left: auto;
}

#header {
  background-color: white;
  margin: 0;
  width: 100%;
}

.navbar-toggler-icon {
  margin-left: 100px;
}

/* [END] Main */

/* Responsive Breakpoints */
@media (max-width: 1080px) {
}
@media (max-width: 560px) {
}
@media (max-width: 360px) {
}

.listcar {
  display: flex;
  align-items: center;
  overflow: initial;
  margin-top: 100px;
  margin-left: 150px;
  padding: 5px;
}

.card {
  margin-bottom: 20px;
  margin-right: 10px; /* Atur jarak antara setiap card di sini */
  background: white;
  background-position: 0%;
  align-items: center;
  position: sticky;
  width: 100%; /* Menyesuaikan lebar card dengan lebar parentnya */
  max-width: 300px;
}

/* BAGIAN ISI */
.btn-add {
  margin-top: 150px;
  margin-right: 5px;
  margin-left: 0px;
}

.custom-btn {
  background-color: #0d28a6;
}

.fas .fa-trash:hover {
  background-color: #5cb85f;
}
